<div class="card">
  <div class="card-header">
    <strong>Kayıt Ol</strong>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="Ad">Ad</label>
      <input
        (change)="HasChange($event)"
        type="text"
        class="form-control"
        name="Ad"
        id="Ad"
      />
    </div>

    <div class="form-group">
      <label for="Soyad">Soyad</label>
      <input
        (change)="HasChange($event)"
        type="text"
        class="form-control"
        name="Soyad"
        id="Soyad"
      />
    </div>

    <div class="form-group">
      <label for="Telefon">Telefon</label>
      <input
        (change)="HasChange($event)"
        type="text"
        class="form-control"
        name="Telefon"
        id="Telefon"
      />
    </div>

    <div class="form-group">
      <label for="KullaniciAdi">Kullanıcı Adı</label>
      <input
        (change)="HasChange($event)"
        type="text"
        class="form-control"
        name="KullaniciAdi"
        id="KullaniciAdi"
      />
    </div>

    <div class="form-group">
      <label for="Sifre">Şifre</label>
      <input
        (change)="HasChange($event)"
        type="password"
        class="form-control"
        name="Sifre"
        id="Sifre"
      />
    </div>
  </div>

  <div class="card-footer">
    <button type="button" class="btn btn-primary float-right" (click)="Kayit()">
      Kayıt Ol
    </button>
  </div>
</div>

<div class="text-center">
  Hesabınız var mı?
  <button
    type="button"
    class="btn btn-outline-primary btn-xs"
    (click)="GoGiris()"
  >
    Giriş Yap
  </button>
</div>
