<aside
  class="main-sidebar sidebar-dark-primary elevation-4"
  *ngIf="kullaniciService.Kullanici.hasOwnProperty('Token')"
>
  <a href="." class="brand-link">
    <img
      src="assets/stok.png"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Stok</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- <li class="nav-item">
          <a href="." class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Giriş</p>
          </a>
        </li> -->
        <li
          class="nav-item"
          *ngIf="kullaniciService.Kullanici.Rol == 'Yonetici'"
        >
          <a
            class="nav-link"
            routerLink="/kullanici"
            [ngClass]="{ active: CurrentRoute.indexOf('/kullanici') > -1 }"
          >
            <i class="nav-icon fa fa-users"></i>
            <p>Kullanıcılar</p>
          </a>
        </li>

        <li
          class="nav-item"
          [ngClass]="{
            'menu-is-opening menu-open': CurrentRoute.indexOf('/stok') > -1
          }"
        >
          <a
            href="#"
            class="nav-link"
            [ngClass]="{ active: CurrentRoute.indexOf('/stok') > -1 }"
          >
            <i class="nav-icon fa fa-boxes"></i>
            <p>
              Stok
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul
            class="nav nav-treeview"
            [ngStyle]="{
              'display: none': !(CurrentRoute.indexOf('/stok') > -1)
            }"
          >
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/stok"
                [ngClass]="{ active: CurrentRoute == '/stok' }"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Stoklar</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/stok-detay/0"
                [ngClass]="{ active: CurrentRoute == '/stok-detay/0' }"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Stok Ekle</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
