<nav class="navbar navbar-expand-md navbar-dark navbar-black">
  <div class="container">
    <a href="." class="navbar-brand" *ngIf="!Kullanici.hasOwnProperty('Token')">
      <span class="brand-text font-weight-light">Stok</span>
    </a>

    <ul class="navbar-nav" *ngIf="Kullanici.hasOwnProperty('Token')">
      <li class="nav-item">
        <a class="nav-link" routerLink="/stok">Stok</a>
      </li>
      <li class="nav-item" *ngIf="Kullanici.Rol == 'Yonetici'">
        <a class="nav-link" routerLink="/kullanici">Kullanıcılar</a>
      </li>
    </ul>

    <ul class="navbar-nav" *ngIf="Kullanici.hasOwnProperty('Token')">
      <li class="nav-item">
        <a class="nav-link">
          {{ Kullanici.Ad }}
          {{ Kullanici.Soyad }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" (click)="Cikis()">
          Çıkış yap
        </a>
      </li>
    </ul>
  </div>
</nav>
