<div class="card card-default">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <select
            class="form-control select2 select2-primary"
            data-dropdown-css-class="select2-primary"
            style="width: 100%"
          >
            <option selected="selected">Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input
            type="checkbox"
            name="my-checkbox"
            checked
            data-bootstrap-switch
            data-Off-Color="danger"
            data-On-Color="success"
            data-On-Text="Ekle"
            data-Off-Text="Çıkar"
            id="switch-ekle-cikar"
          />
        </div>
        <button class="btn btn-primary" (click)="GetSwitchState()">
          Get
        </button>
      </div>
    </div>
  </div>
</div>
