<div class="card mb-2">
  <div class="card-body row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="Kod">Kod</label>
        <div class="ng-autocomplete">
          <ng-autocomplete
            [data]="KodAutoComp"
            (inputChanged)="KodAutoCompChanged($event)"
            (inputCleared)="KodAutoCompChanged($event)"
            (selected)="KodAutoCompChanged($event)"
            [itemTemplate]="KodItemTemplate"
            [notFoundTemplate]="KodNotFoundTemplate"
          >
          </ng-autocomplete>
          <ng-template #KodItemTemplate let-item>
            <a [innerHTML]="item"></a>
          </ng-template>
          <ng-template #KodNotFoundTemplate let-notFound>
            <div [innerHTML]=""></div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="Grup">Grup</label>
        <div class="ng-autocomplete">
          <ng-autocomplete
            [data]="GrupAutoComp"
            (inputChanged)="GrupAutoCompChanged($event)"
            (inputCleared)="GrupAutoCompChanged($event)"
            (selected)="GrupAutoCompChanged($event)"
            [itemTemplate]="GrupItemTemplate"
            [notFoundTemplate]="GrupNotFoundTemplate"
          >
          </ng-autocomplete>
          <ng-template #GrupItemTemplate let-item>
            <a [innerHTML]="item"></a>
          </ng-template>
          <ng-template #GrupNotFoundTemplate let-notFound>
            <div [innerHTML]=""></div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="Ad">Ad</label>
        <div class="ng-autocomplete">
          <ng-autocomplete
            [data]="AdAutoComp"
            (inputChanged)="AdAutoCompChanged($event)"
            (inputCleared)="AdAutoCompChanged($event)"
            (selected)="AdAutoCompChanged($event)"
            [itemTemplate]="AdItemTemplate"
            [notFoundTemplate]="AdNotFoundTemplate"
          >
          </ng-autocomplete>
          <ng-template #AdItemTemplate let-item>
            <a [innerHTML]="item"></a>
          </ng-template>
          <ng-template #AdNotFoundTemplate let-notFound>
            <div [innerHTML]=""></div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header">
    <strong>Stok</strong>
    <div class="card-tools">
      <button class="btn btn-primary btn-sm" [routerLink]="'/stok-detay/0'">
        Stok Ekle
      </button>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Kod</th>
          <th>Grup</th>
          <th>Ad</th>
          <th>Miktar</th>
          <th>Fiyat</th>
          <th>Birim</th>
          <th class="text-right">İşlem</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredList">
          <td>{{ item.Kod }}</td>
          <td>{{ item.Grup }}</td>
          <td>{{ item.Ad }}</td>
          <td>{{ item.Miktar }}</td>
          <td>{{ item.Fiyat }}</td>
          <td>{{ item.Birim }}</td>
          <td class="text-right">
            <button
              class="btn btn-primary btn-sm"
              [routerLink]="'/stok-detay/' + item.StokID"
            >
              Düzenle
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
