<div class="mb-2">
  <button class="btn btn-primary btn-sm" [routerLink]="'/stok'">Geri</button>
</div>

<div class="card mb-2">
  <div class="card-header">
    <strong>Stok</strong>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="Kod">Kod</label>
      <input
        (change)="HasChange($event)"
        type="text"
        class="form-control"
        name="Kod"
        id="Kod"
        [value]="Stok.Kod || ''"
      />
    </div>

    <div class="form-group">
      <label for="Grup">Grup</label>
      <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="GrupAutoComp"
          (inputChanged)="GrupAutoCompChanged($event)"
          (inputCleared)="GrupAutoCompChanged($event)"
          (selected)="GrupAutoCompChanged($event)"
          [itemTemplate]="GrupItemTemplate"
          [notFoundTemplate]="GrupNotFoundTemplate"
          [initialValue]="Stok.Grup"
        >
        </ng-autocomplete>

        <ng-template #GrupItemTemplate let-item>
          <a [innerHTML]="item"></a>
        </ng-template>

        <ng-template #GrupNotFoundTemplate let-notFound>
          <div [innerHTML]=""></div>
        </ng-template>
      </div>
    </div>

    <div class="form-group">
      <label for="Ad">Ad</label>
      <input
        (change)="HasChange($event)"
        type="text"
        class="form-control"
        name="Ad"
        id="Ad"
        [value]="Stok.Ad || ''"
      />
    </div>

    <div class="form-group">
      <label for="Miktar">Miktar</label>
      <input
        (change)="HasChange($event)"
        type="text"
        class="form-control"
        name="Miktar"
        id="Miktar"
        [value]="Stok.Miktar || ''"
      />
    </div>

    <div class="form-group">
      <label for="Fiyat">Fiyat</label>
      <input
        (change)="HasChange($event)"
        type="text"
        class="form-control"
        name="Fiyat"
        id="Fiyat"
        [value]="Stok.Fiyat || ''"
      />
    </div>

    <div class="form-group">
      <label for="Birim">Birim</label>
      <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="BirimAutoComp"
          (inputChanged)="BirimAutoCompChanged($event)"
          (inputCleared)="BirimAutoCompChanged($event)"
          (selected)="BirimAutoCompChanged($event)"
          [itemTemplate]="BirimItemTemplate"
          [notFoundTemplate]="BirimNotFoundTemplate"
          [initialValue]="Stok.Birim"
        >
        </ng-autocomplete>

        <ng-template #BirimItemTemplate let-item>
          <a [innerHTML]="item"></a>
        </ng-template>

        <ng-template #BirimNotFoundTemplate let-notFound>
          <div [innerHTML]=""></div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button
      type="button"
      class="btn btn-primary float-right"
      (click)="Kaydet()"
    >
      Kaydet
    </button>
  </div>
</div>

<div class="card mb-2" *ngIf="StokLog.length > 0">
  <div class="card-body">
    <div class="timeline timeline-inverse">
      <div class="time-label">
        <span class="bg-primary">Geçmiş</span>
      </div>

      <div *ngFor="let log of StokLog">
        <i class="far fa-clock bg-primary"></i>
        <div class="timeline-item">
          <span class="time"><i class="far fa-clock"></i> {{ log.Zaman }}</span>
          <h3 class="timeline-header">
            <a>{{ log.Kullanici }}</a> değişikliği öncesi
          </h3>
          <div class="timeline-body">
            <div class="input-group input-group-sm mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Kod</span>
              </div>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="log.Kod"
              />
            </div>

            <div class="input-group input-group-sm mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Grup</span>
              </div>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="log.Grup"
              />
            </div>

            <div class="input-group input-group-sm mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Ad</span>
              </div>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="log.Ad"
              />
            </div>

            <div class="input-group input-group-sm mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Miktar</span>
              </div>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="log.Miktar"
              />
            </div>

            <div class="input-group input-group-sm mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Fiyat</span>
              </div>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="log.Fiyat"
              />
            </div>

            <div class="input-group input-group-sm mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Birim</span>
              </div>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="log.Birim"
              />
            </div>
          </div>
        </div>
      </div>

      <div>
        <i class="far fa-clock bg-gray"></i>
      </div>
    </div>
  </div>
</div>
