<div class="mb-2">
  <button class="btn btn-primary btn-sm" [routerLink]="'/stok'">Geri</button>
</div>

<div class="card mb-2">
  <div class="card-header">
    <strong>Stok</strong>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="Kod">Kod</label>
      <input
        (change)="HasChange($event)"
        type="text"
        class="form-control"
        name="Kod"
        id="Kod"
        [value]="Stok.Kod || ''"
      />
    </div>

    <div class="form-group">
      <label for="Grup">Grup</label>
      <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="GrupAutoComp"
          (inputChanged)="GrupAutoCompChanged($event)"
          (inputCleared)="GrupAutoCompChanged($event)"
          (selected)="GrupAutoCompChanged($event)"
          [itemTemplate]="GrupItemTemplate"
          [notFoundTemplate]="GrupNotFoundTemplate"
          [initialValue]="Stok.Grup"
        >
        </ng-autocomplete>

        <ng-template #GrupItemTemplate let-item>
          <a [innerHTML]="item"></a>
        </ng-template>

        <ng-template #GrupNotFoundTemplate let-notFound>
          <div [innerHTML]=""></div>
        </ng-template>
      </div>
    </div>

    <div class="form-group">
      <label for="Ad">Ad</label>
      <input
        (change)="HasChange($event)"
        type="text"
        class="form-control"
        name="Ad"
        id="Ad"
        [value]="Stok.Ad || ''"
      />
    </div>

    <div class="form-group">
      <label for="Miktar">Miktar</label>
      <input
        (change)="HasChange($event)"
        type="text"
        class="form-control"
        name="Miktar"
        id="Miktar"
        [value]="Stok.Miktar || ''"
      />
    </div>

    <div class="form-group">
      <label for="Fiyat">Fiyat</label>
      <input
        (change)="HasChange($event)"
        type="text"
        class="form-control"
        name="Fiyat"
        id="Fiyat"
        [value]="Stok.Fiyat || ''"
      />
    </div>

    <div class="form-group">
      <label for="Birim">Birim</label>
      <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="BirimAutoComp"
          (inputChanged)="BirimAutoCompChanged($event)"
          (inputCleared)="BirimAutoCompChanged($event)"
          (selected)="BirimAutoCompChanged($event)"
          [itemTemplate]="BirimItemTemplate"
          [notFoundTemplate]="BirimNotFoundTemplate"
          [initialValue]="Stok.Birim"
        >
        </ng-autocomplete>

        <ng-template #BirimItemTemplate let-item>
          <a [innerHTML]="item"></a>
        </ng-template>

        <ng-template #BirimNotFoundTemplate let-notFound>
          <div [innerHTML]=""></div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button
      type="button"
      class="btn btn-primary float-right"
      (click)="Kaydet()"
    >
      Kaydet
    </button>
  </div>
</div>
