@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@200;300;400;500;600;700;800;900;1000&display=swap");

body,
table {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}

body {
  background: #f4f6f9;
}

.navbar {
  border-bottom: 1px solid #dee2e6;
}

.ng-autocomplete {
  width: 100% !important;
}
